

.landinggrid{
    background-image: url('../../images/allbg.jpg');
   
   
    scroll-padding-top: 300px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    /* Full height */
   
}

  body {
    margin: 0;
  }
  .mb-3{
      background-color: rgba(168, 248, 255,0.1);
      border-radius: 5px;
      height: 350px;
      width:450px;
      align-content: space-around;
      margin-left: 10%;
  }
  .mb-3 
  .grey-text{
      background: transparent;
  }
  .content{
        padding-top: 150px;
  }
.img-fluid{
    margin-left: 20%;
    margin-top: 20%;;
    align-content: center;
}

.smallbox{
    background-color: rgba(168, 248, 255,0.1);
    border-radius: 5px;
    height:200px;
    width:200px;
    align-content: center;
    margin-left: 30%;
}
