.estimatecontent{
  background-image: url('../../images/allbg.jpg');
  color:white;
  scroll-padding-top: 300px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;  
  align-content: center;
  padding-top: 10%;
  border-radius: 5px;
}
.estimate{
  background: rgba(255,255,255,0.1);
  width:600px;
  margin-left: 35%;
  border-radius: 3px;
}
.btn-outline-info{
  background:rgba(255,255,255,0.9);
  outline:none;
  border:none;
  width:auto;
  color:black;
}